<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="root" class="container">

      <img :src="logo" alt="logo">

      <div class="input">
        <input :placeholder="placeholder" v-model="nuovoElemento" v-on:keyup.enter="aggiungiElemento"></input>
        <button @click="aggiungiElemento">AGGIUNGI</button>
      </div>
      <div class="box">
        <ul>
          <li v-for="(elem, index) in lista">{{elem}}</li>
        </ul>
      </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
